<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mon Projet Blog Angular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <app-post-list [posts]="postsList"></app-post-list>
    </div>
  </div>
</div>
</body>
</html>
